html, body {
	padding: 0;
	margin: 0;
	height: 80%;
}
.container {
	position: fixed;
	top: 0;
	left: 0;
	background-color: #FFF6F7;
	height: 80%;
}
#text-input {
	position: fixed;
	top: 0;
	left: 0;
	opacity: 0;
	pointer-events: none;
	height: 80%;
}
.footer{
	height: 20%;
}
#footer{
	height: 20%;
}
footer{
	height: 20%;
}
